<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form role="form">
            <div class="form-group">
                <label for="classFormat">Format</label>
                <select id="classFormat" class="form-control">
                    <option value="none">Select a format</option>
                    <option value="ugi-cycle20-one">Ugi Cycle 20 Mins 1</option>
                    <option value="ugi-cycle20-two">Ugi Cycle 20 Mins 2</option>
                    <option value="ugi-30-one">Ugi 30 Mins 1</option>
                    <option value="ugi-30-two">Ugi 30 Mins 2</option>
                    <option value="ugi-27-mia-one">Ugi 27 Mins Mia 1</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="moves text-center">
          <span class="next-move">Select A Format</span>
        </div>
        <div class="timer text-center">1</div>
        <div class="controls btn-block text-center">
          <button class="btn btn-primary start-pretimer">Start</button><button class="btn btn-danger stop-timer">Stop</button>
        </div>
    </div>
</div>
