<div class="row">
	<div class="col-md-12 text-center">
		<h1>Class List</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Class</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{{#each fitnessClasses}}
				<tr>
					<td>{{name}}</td>
					<td><a href="#getmoves?classid={{ classId }}">Edit</a></td>
					<td><button>Go</button></td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>