<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="classFormat" class="col-md-2 control-label">Format</label>
                <div class="col-md-10">
                    <select id="classFormat" class="form-control">
                        <option value="none">Select a format</option>
                        <option value="ugi-cycle20-one">Ugi Cycle 20 Mins 1</option>
                        <option value="ugi-cycle20-two">Ugi Cycle 20 Mins 2</option>
                        <option value="ugi-cycle20-advanced">Ugi Cycle 20 Advanced</option>
                        <option value="ugi-30-one">Ugi 30 Mins 1</option>
                        <option value="ugi-30-two">Ugi 30 Mins 2</option>
                        <option value="ugi-30-courtney-one">Ugi 30 Mins Courtney 1</option>
                        <option value="ugi-27-mia-one">Ugi 27 Mins Mia 1</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="moves text-center">
            <div class="move-type"></div>
            <div class="next-move">Select A Format</div>
        </div>
        <div class="timer text-center">20</div>
        <div class="controls btn-block text-center">
          <button class="btn btn-primary start-pretimer">Start</button><button class="btn btn-danger stop-timer">Stop</button>
        </div>
    </div>
</div>